@page
@model TrickingLibrary.Api.Pages.Account.Login

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form method="post">
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <div class="field">
        <label>Username</label>
        <input asp-for="Form.Username">
        <span asp-validation-for="Form.Username"></span>
    </div>
    <div class="field">
        <label>Password</label>
        <input asp-for="Form.Password">
        <span asp-validation-for="Form.Password"></span>
    </div>
    <div class="field flex-row">
        <button type="submit">Log In</button>
    </div>
    <hr>
    <div class="field flex-row">
        <a asp-page="/Account/Register" asp-route-returnUrl="@Model.Form.ReturnUrl">Create Account</a>
    </div>
</form>