@page
@model TrickingLibrary.Api.Pages.Account.Register

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<form method="post">
    <h3 class="title">Register</h3>
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <div class="field">
        <label>Email</label>
        <input asp-for="Form.Email">
        <span asp-validation-for="Form.Email"></span>
    </div>
    <div class="field">
        <label>Password</label>
        <input asp-for="Form.Password">
        <span asp-validation-for="Form.Password"></span>
    </div>
    <div class="field">
        <label>Confirm Password</label>
        <input asp-for="Form.ConfirmPassword">
        <span asp-validation-for="Form.ConfirmPassword"></span>
    </div>
    <div class="field flex-row">
        <button type="submit">Sign Up</button>
        <a asp-page="/Account/Login" asp-route-returnUrl="@Model.Form.ReturnUrl" >Back to Login</a>
    </div>
</form>