<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <style>
        * {
            font-family: "Roboto", sans-serif !important;
        }

        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #212121;
        }

        .title {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 1px 8px 1px #FAFAFA;
        }

        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: .5rem;
        }

        .field > input {
            margin-bottom: .25rem;
            width: 100%;
        }

        .field > span {
            font-size: 13px;
            color: #E53935;
        }

        .flex-row {
            flex-direction: row;
            justify-content: space-evenly;
        }
    </style>

</head>
<body>

@RenderBody()

</body>
</html>