<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <style>
        * {
            font-family: "Roboto", sans-serif !important;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #212121;
        }

        .title {
            text-align: center;
            color: #fff;
            font-size: 32px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 2rem;
            background: #fff;
            max-width: 300px;
            width: 100%;
            margin: 0 1rem;
            border-radius: 5px;
            box-shadow: 0 1px 8px 1px #FAFAFA;
        }

        .field {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: .5rem;
        }

        .field > label {
            font-size: 14px;
            font-weight: bold;
        }

        .field > input {
            margin-bottom: .25rem;
            width: 100%;
            line-height: 20px;
            padding: 8px 4px 8px;
            max-width: 100%;
            min-width: 0px;
            border: 1px solid #212121;
            font-size: 16px;
            border-radius: 5px;
        }

        .field > input:focus {
            outline: none;
            border: 1px solid #1976d2;
        }

        .error,
        .field > span {
            font-size: 13px;
            color: #E53935;
        }

        .error {
            margin-bottom: 2px;
        }

        .flex-row {
            flex-direction: row;
            justify-content: space-evenly;
        }

        hr {
            width: 100%;
        }

        .field > button {
            height: 36px;
            min-width: 64px;
            padding: 0 16px;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid #1976d2;
        }

        .field > a{
            text-decoration: none;
        }
    </style>

</head>
<body>
<h3 class="title">Tricking Library</h3>
@RenderBody()

</body>
</html>