[Unit]
Description=Tricking Library API

[Service]
WorkingDirectory=/var/tricking-library/api
ExecStart=/usr/bin/dotnet /var/tricking-library/api/TrickingLibrary.Api.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=tricking-library-api
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target