.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

.fpt-0 {
  .v-stepper__content {
    padding-top: 0;
  }
}

.pointer {
  cursor: pointer;
}

@media (max-width: 600px) {
  .v-autocomplete__content.v-menu__content {
    width: 100% !important;
    left: 0 !important;
    max-width: 100% !important;
  }
}
